{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h6>Please provide your email with which you registered so that we can send you a password reset link.</h6>
            {% if form.errors %}
                <p class="text-danger">{{ form.non_field_errors.as_text }}</p>
                <p class="text-danger">{{ form.email.errors.as_text }}</p>
            {% endif %}
            <form method="POST" action=".">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Email" class="form-control" required autofocus>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>

{% endblock %}