{% extends "base.html" %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
    <p>Your password has been reset. You can now <a href="{{ login_url }}">log in</a> with your new password.</p>
{% endblock %}
