{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <h4 class="page-header">Sign up</h4>
                {% if form.errors %}
                    <p class="text-danger"><strong>Your form has some errors.</strong></p>
                {% endif %}
                <form method="POST" action=".">
                    {% csrf_token %}
                    <input name="{{ form.email.html_name }}" type="email" class="form-control" placeholder="Email"
                           autofocus
                           required>
                    {% for e in form.email.errors %}
                        <p class="text-danger">{{ e|escape }}</p>
                    {% endfor %}
                    <br>
                    <input name="{{ form.first_name.html_name }}" type="text" class="form-control"
                           placeholder="First Name"
                           required>
                    {% for e in form.first_name.errors %}
                        <p class="text-danger">{{ e|escape }}</p>
                    {% endfor %}
                    <br>
                    <input name="{{ form.last_name.html_name }}" type="text" class="form-control"
                           placeholder="Last Name"
                           required>
                    {% for e in form.last_name.errors %}
                        <p class="text-danger">{{ e|escape }}</p>
                    {% endfor %}
                    <br>
                    <input name="{{ form.password1.html_name }}" type="password" class="form-control"
                           placeholder="Choose a password" required>
                    {% for e in form.password1.errors %}
                        <p class="text-danger">{{ e|escape }}</p>
                    {% endfor %}
                    <br>
                    <input name="{{ form.password2.html_name }}" type="password" class="form-control"
                           placeholder="Re-type your password"
                           required>
                    {% for e in form.password2.errors %}
                        <p class="text-danger">{{ e|escape }}</p>
                    {% endfor %}
                    <br>
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}