{% extends 'base.html' %}

{% block content %}
    <h5>Please check your email to find the account activation link.</h5>
    <h6>You will be able to log in once you activate your account.</h6>
{% endblock %}
