{% extends "base.html" %}

{% block title %} Dashboard | {% endblock %}

{% block content %}
    {% verbatim %}
    <div class="container-fluid" ng-controller="DashboardController as ctrl">
        <h3 class="page-header">Dashboard</h3>
        <div class="card mb-3 rounded-0" ng-repeat="s in ctrl.squares">
                    <div class="card-body">
                        <h4 class="card-title"><a href="/classrooms/{{ s }}" class="card-link">Calculus 10{{ s }}</a></h4>
                        <p class="card-text">Total Students: 55, Online: 16</p>
                    </div>
                </div>
    </div>
    {% endverbatim %}
{% endblock %}
