{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <h4>You are now logged out. <a href="{% url 'login-page' %}">Click here to sign in again</a>.</h4>
    </div>
{% endblock %}