{% extends "base.html" %}

{% block content %}
    {% verbatim %}
    <div class="container-fluid" ng-app="dissero">
        <ui-view></ui-view>
    </div>
    {% endverbatim %}
{% endblock %}

{% block extrascripts %}
    {% load pipeline %}
    {% javascript 'lib' %}
    {% javascript 'app' %}
{% endblock %}