{% extends "base.html" %}

{% block extrastyles %}
    <style>
    .jumbotron {
        margin-top: -20px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1 class="display-3">A real time forum for your classroom</h1>
            <h4>Where each discussion becomes knowledge for everyone</h4>
        </div>
    </div>
{% endblock %}